@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-manrope);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
