@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-manrope, "Manrope", "Inter", system-ui, sans-serif);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
